﻿@model  PPZ.Areas.Admin.Models.CsvErrorPageModel
@{
    ViewData["Title"] = "CsvErrorPage";
    System.IO.File.Delete(Model.FilePath);
}

<h1>Csv import error</h1>
<h4>Selected .csv file is not valid</h4>
<p>@Model.ErrorMessage</p>
