﻿@page
@model GetGuardianRoleModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>Get a guardian role</h1>

@if (Model.StudentId == -1)
{
    <h4>Please type the access key you get from a teacher</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-page="AcceptGuardianRole" id="get-student-role-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AccessKey" class="control-label"></label>
                    <input asp-for="AccessKey" class="form-control" />
                    <span asp-validation-for="AccessKey" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" asp-page-handler="Key" value="Send" class="btn btn-success" /> |
                    <a asp-page="../GetRole" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
}
else if (!Model.IsAccepted)
{
    <h3>Are you a guardian of this student?</h3>
    <div>
        <h4>Student</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.SecondName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.SecondName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.Address)
            </dd>
        </dl>

        <form id="accept_student_role" method="post">
            <input type="hidden" asp-for="StudentId" />
            <input type="hidden" asp-for="AccessKey" />
            <input type="submit" asp-page-handler="Accept" value="Accept" class="btn btn-success" /> |
            <a asp-page="./GetGuardianRole" class="btn btn-primary">Cancel</a>
        </form>
    </div>
}
else
{
    <h4>Complete your guardian profile.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form id="create-guardian-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Guardian.FirstName" class="control-label"></label>
                    <input asp-for="Guardian.FirstName" class="form-control" />
                    <span asp-validation-for="Guardian.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Guardian.LastName" class="control-label"></label>
                    <input asp-for="Guardian.LastName" class="form-control" />
                    <span asp-validation-for="Guardian.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Guardian.Address" class="control-label"></label>
                    <input asp-for="Guardian.Address" class="form-control" />
                    <span asp-validation-for="Guardian.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Guardian.EmailAddress" class="control-label"></label>
                    <input asp-for="Guardian.EmailAddress" class="form-control" />
                    <span asp-validation-for="Guardian.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Guardian.PhoneNumber" class="control-label"></label>
                    <input asp-for="Guardian.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Guardian.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="StudentId" />
                    <input type="submit" asp-page-handler="Create" value="Submit" class="btn btn-success" /> |
                    <a asp-page="./GetGuardianRole" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
}
