﻿@page
@model GetStudentRoleModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>Get a student role</h1>

@if (Model.Student == null)
{
    <h4>Please type the access key you get from your teacher</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form id="get-student-role-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AccessKey" class="control-label"></label>
                    <input asp-for="AccessKey" class="form-control" />
                    <span asp-validation-for="AccessKey" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" asp-page-handler="Key" value="Send" class="btn btn-success" /> |
                    <a asp-page="../GetRole" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h3>Are you sure you want to connect your account with this student?</h3>
    <div>
        <h4>Student</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.SecondName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.SecondName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.Address)
            </dd>
        </dl>

        <form id="accept_student_role" method="post">
            <input type="hidden" asp-for="Student.StudentId" />
            <input type="hidden" asp-for="AccessKey" />
            <input type="submit" asp-page-handler="Student" value="Accept" class="btn btn-success" /> |
            <a asp-page="./GetStudentRole" class="btn btn-primary">Cancel</a>
        </form>
    </div>
}

