﻿@page
@model GetTeacherRoleModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>Get a teacher role</h1>

<h4>Complete a form to ask for a teacher role. You will need an approval from the administrator.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="get-teacher-role-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Teacher.Prefix" class="control-label"></label>
                <input asp-for="Teacher.Prefix" class="form-control" />
                <span asp-validation-for="Teacher.Prefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.FirstName" class="control-label"></label>
                <input asp-for="Teacher.FirstName" class="form-control" />
                <span asp-validation-for="Teacher.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.LastName" class="control-label"></label>
                <input asp-for="Teacher.LastName" class="form-control" />
                <span asp-validation-for="Teacher.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.EmailAddress" class="control-label"></label>
                <input asp-for="Teacher.EmailAddress" class="form-control" />
                <span asp-validation-for="Teacher.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.PhoneNumber" class="control-label"></label>
                <input asp-for="Teacher.PhoneNumber" class="form-control" />
                <span asp-validation-for="Teacher.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Info" class="control-label"></label>
                <textarea asp-for="Teacher.Info" class="form-control"></textarea>
                <span asp-validation-for="Teacher.Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-success" /> |
                <a asp-page="../GetRole" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>
