﻿@using Microsoft.AspNetCore.Identity
@using PPZ.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Avatar Change";

}
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.GetUserAsync(User);
            var avatarSource = "~/images/" + (user.AvatarPath ?? "none.png");

            <li class="nav-item li-2items">
                <a class="nav-link font-weight-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage your account">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item li-2items">
                <a title="Manage your account" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <img id="avatarImage" class="avatar-nav img-fluid img-thumbnail" src="@avatarSource" asp-append-version="true" />
                </a>
            </li>
            <li class="nav-item li-2items">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link font-weight-bold" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
