﻿@using Microsoft.AspNetCore.Identity
@using PPZ.Data
@inject SignInManager<ApplicationUser> SignInManager

    <ul class="navbar-nav flex-grow-1">
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link font-weight-bold dropdown-toggle" href="#" id="adminToolsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminToolsDropdown">
                        <a class="dropdown-item font-weight-bold" asp-area="Admin" asp-controller="Accounts" asp-action="Index">Accounts</a>
                        <a class="dropdown-item font-weight-bold" asp-area="Admin" asp-controller="RFIDMap" asp-action="Index">RFID IDs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link font-weight-bold dropdown-toggle" href="#" id="managerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manager
                    </a>
                    <div class="dropdown-menu" aria-labelledby="managerDropdown">
                        <a class="dropdown-item font-weight-bold" asp-area="Admin" asp-controller="Students" asp-action="Index">Students</a>
                        <a class="dropdown-item font-weight-bold" asp-area="Admin" asp-controller="Guardians" asp-action="Index">Guardians</a>
                        <a class="dropdown-item font-weight-bold" asp-area="Admin" asp-controller="Teachers" asp-action="Index">Teachers</a>
                        <a class="dropdown-item font-weight-bold" asp-area="Admin" asp-controller="Groups" asp-action="Index">Groups</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Messages" asp-action="Index">Messages</a>
                </li>
            }
            else if (User.IsInRole("Student"))
            {
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Student" asp-controller="Guardians" asp-action="Index">Guardians</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Student" asp-controller="Groups" asp-action="Index">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Messages" asp-action="Index">Messages</a>
                </li>
            }
            else if (User.IsInRole("Guardian"))
            {
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Guardian" asp-controller="Students" asp-action="Index">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Guardian" asp-controller="Groups" asp-action="Index">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Messages" asp-action="Index">Messages</a>
                </li>
            }
            else if (User.IsInRole("Teacher"))
            {
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Teacher" asp-controller="RFIDMap" asp-action="Index">RFID IDs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link font-weight-bold dropdown-toggle" href="#" id="managerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manager
                    </a>
                    <div class="dropdown-menu" aria-labelledby="managerDropdown">
                        <a class="dropdown-item font-weight-bold" asp-area="Teacher" asp-controller="Students" asp-action="Index">Students</a>
                        <a class="dropdown-item font-weight-bold" asp-area="Teacher" asp-controller="Guardians" asp-action="Index">Guardians</a>
                        <a class="dropdown-item font-weight-bold" asp-area="Teacher" asp-controller="Groups" asp-action="Index">Groups</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Messages" asp-action="Index">Messages</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="" asp-controller="Messages" asp-action="Index">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" asp-area="Identity" asp-page="/Account/Manage/Index">--- Complete your profile ---</a>
                </li>
            }
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
        }
    </ul>