﻿@using PPZ.Data
@model Guardian

<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.EmailAddress)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.EmailAddress)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
</dl>