﻿@using PPZ.Data
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
    <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.AvatarNavClass(ViewContext)" id="avatar" asp-area="Identity" asp-page="/Account/Manage/Avatar">Avatar</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-area="Identity" asp-page="/Account/Manage/Email">Email</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Password</a></li>
        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">External logins</a></li>
        }
        <!--<li class="nav-item"><a class="nav-link @*ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)*@" id="two-factor" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a></li>-->
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-area="Identity" asp-page="/Account/Manage/PersonalData">Personal data</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.SetThemeNavClass(ViewContext)" id="theme" asp-area="Identity" asp-page="/Account/Manage/Theme">Set Theme</a></li>
    </ul>
