﻿@using PPZ.Data
@model Student

<dl class="row">
    @if (!Model.IsActive)
    {
        <dt class="col-sm-4">
            Inactive student
        </dt>
        <dd class="col-sm-8">
        </dd>
    }
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.SecondName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.SecondName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.DateOfBirth)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.DateOfBirth)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.EmailAddress)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.EmailAddress)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Height)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Height)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Weight)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Weight)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Info)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Info)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.IsActive)
    </dt>
    @if (Model.IsActive)
    {
        <dd class="col-sm-8">Active</dd>
    }
    else
    {
        <dd class="col-sm-8">Inactive</dd>
    }
</dl>
