﻿@page
@model AvatarModel
@using Microsoft.AspNetCore.Identity
@using PPZ.Data
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Change avatar";
    ViewData["ActivePage"] = ManageNavPages.Avatar;

    var user = await UserManager.GetUserAsync(User);
    var avatarSource = "~/images/" + (user.AvatarPath ?? "none.png");
}

<h4>Your current avatar</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="text-center">
    <img class="img-fluid avatar" src="@avatarSource" asp-append-version="true" />
    <div class="avatar-input">
        <form enctype="multipart/form-data" id="avatar_change" method="post">
            <div class="form-group">
                <label asp-for="FormFile" class="control-label avatar-label"></label>
                <div class="custom-file">
                    <input asp-for="FormFile" class="form-control custom-file-input" />
                    <p class="avatar-p">* We suggest to choose picture with 1:1 aspect ratio (square)</p>
                    <label class="custom-file-label">Choose File...</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>let input = document.querySelector(".custom-file-input");
        input.addEventListener("change", function() {
            let filename = input.value.split("\\").pop();
            let label = document.querySelector(".custom-file-label");
            label.innerHTML = filename;
        });</script>
}