﻿@page
@model GetRoleModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>Get a new role</h1>

<h4>What role do you want to get?</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        @if (User.IsInRole("Admin"))
        {
            <h5>You are an admin</h5>
        }
        else
        {
            if (User.IsInRole("Student"))
            {
                <p><a class="btn btn-success btn-block disabled">You are a student!</a></p>
            }
            else
            {
                <p><a class="btn btn-success btn-block" asp-page="./GetRole/GetStudentRole">STUDENT</a></p>
            }
            <br />
            if (User.IsInRole("Guardian"))
            {
                <p><a class="btn btn-warning btn-block disabled">You are a guardian!</a></p>
            }
            else
            {
                <p><a class="btn btn-warning btn-block" asp-page="./GetRole/GetGuardianRole">GUARDIAN</a></p>
            }
            <br />
            if (User.IsInRole("Teacher"))
            {
                <p><a class="btn btn-danger btn-block disabled">You are a teacher!</a></p>
            }
            else
            {
                if (Model.ApplicationUser.TeacherId != null)
                {
                    <p><a class="btn btn-danger btn-block disabled">TEACHER: Waiting for an approval...</a></p>
                }
                else
                {
                    <p><a class="btn btn-danger btn-block" asp-page="./GetRole/GetTeacherRole">TEACHER</a></p>
                }
            }
            <br /><br />
            <p><a class="btn btn-primary btn-block" asp-page="Index">Cancel</a></p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}