﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<br />
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-8">
        @if (User.IsInRole("Admin"))
        {
            <h5>You are an admin</h5>
        }
        else
        {
            if (User.IsInRole("Student"))
            {
                <h5>Student</h5>
                <hr />
                <partial name="_Student" model="Model.Student" />
                <br />
            }
            if (User.IsInRole("Guardian"))
            {
                <h5>Guardian&emsp;<a asp-area="Guardian" asp-controller="Guardians" asp-action="Edit" asp-route-id="@Model.Guardian.GuardianId" class="btn btn-info btn-sm">Edit</a></h5>
                <hr />
                
                <partial name="_Guardian" model="Model.Guardian" />
                <br />
            }
            if (User.IsInRole("Teacher"))
            {
                <h5>Teacher&emsp;<a asp-action="Edit" asp-area="Teacher" asp-controller="Teachers" asp-route-id="@Model.Teacher.TeacherId" class ="btn btn-info btn-sm">Edit</a></h5>
                <hr />
                <partial name="_Teacher" model="Model.Teacher" />
                <br />
            }
            <h5>Get a new role</h5>
            <hr />
            <p><a class="btn btn-success btn-block" asp-page="./GetRole">New role</a></p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}