﻿@page
@model ThemeModel
@using Microsoft.AspNetCore.Identity
@using PPZ.Data
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Set Theme";
    ViewData["ActivePage"] = ManageNavPages.SetTheme;

    var user = await UserManager.GetUserAsync(User);
    var theme = (user.AvatarPath ?? "~/lib/bootstrap/dist/css/lumen-bootstrap.css");
}

<h4>Choose your theme.</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="text-center">
    <form enctype="multipart/form-data" id="avatar_change" method="post">
        <div class="form-group">
            <div class="input-group">
                <select asp-for="ThemeId" asp-items="Model.ThemeList"></select>
                <button type="submit" class="btn btn-primary" title="Click to choose selected theme.">Choose</button>
            </div>
        </div>
    </form>
</div>
