﻿@model PPZ.Areas.Teachers.Models.ManageTermsModel

@{ ViewData["Title"] = "Manage Group's Terms"; }

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-4">
        <h4>Add single date</h4>
        <hr />
        <form asp-action="ManageTerms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SingleDate" class="control-label"></label>
                <input asp-for="SingleDate" class="form-control" />
                <span asp-validation-for="SingleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleTimeStart" class="control-label"></label>
                <input asp-for="SingleTimeStart" class="form-control" />
                <span asp-validation-for="SingleTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleTimeEnd" class="control-label"></label>
                <input asp-for="SingleTimeEnd" class="form-control" />
                <span asp-validation-for="SingleTimeEnd" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.Group.GroupId" />
            <input type="hidden" asp-for="@Model.Action" value="0" />
            <input type="submit" class="btn btn-success" value="Add" />
        </form><br />
        <h4>Add date range</h4>
        <hr />
        <form asp-action="ManageTerms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="RangeDateStart" class="control-label"></label>
                    <input asp-for="RangeDateStart" class="form-control" />
                    <span asp-validation-for="RangeDateStart" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="RangeDateEnd" class="control-label"></label>
                    <input asp-for="RangeDateEnd" class="form-control" />
                    <span asp-validation-for="RangeDateEnd" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RangeDayOfWeek" class="control-label"></label>
                <select asp-for="RangeDayOfWeek" asp-items="Html.GetEnumSelectList<DayOfWeek>()" class="form-control"></select>
                <span asp-validation-for="RangeDayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RangeTimeStart" class="control-label"></label>
                <input asp-for="RangeTimeStart" class="form-control" />
                <span asp-validation-for="RangeTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RangeTimeEnd" class="control-label"></label>
                <input asp-for="RangeTimeEnd" class="form-control" />
                <span asp-validation-for="RangeTimeEnd" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.Group.GroupId" />
            <input id="operation-type" type="hidden" asp-for="@Model.Action" value="1" />
            <input type="submit" class="btn btn-success" value="Add range" />
        </form><br />
        <h4>Remove all terms</h4>
        <hr />
        <button class="btn btn-danger" data-toggle="modal" data-target="#remove-all-modal">Remove all terms</button>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
        <div id="calendar-body">
            <div id="calendar"></div>
        </div>
        <h5>To delete or get more info, click on the term</h5>
    </div>
</div>
<br />
<div>
    <a asp-area="Admin" onclick="history.back(); return false;" class="btn btn-primary">Back to Details</a>
</div>

<!-- Modals -->
<div class="modal fade" id="calendar-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <span id="attendance-link"></span>
                <form asp-action="ManageTerms">
                    <input type="hidden" asp-for="@Model.Group.GroupId" />
                    <span id="term-id"></span>
                    <input type="hidden" asp-for="@Model.Action" value="2" />
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="remove-all-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                All group terms will be deleted!
            </div>
            <div class="modal-footer">
                <form asp-action="ManageTerms">
                    <input type="hidden" asp-for="@Model.Group.GroupId" />
                    <input type="hidden" asp-for="@Model.Action" value="3" />
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section stylesheets {
    <link href="~/lib/fullcalendar/core/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/daygrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/lib/fullcalendar/core/main.js"></script>
    <script src="~/lib/fullcalendar/core/locales-all.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.js"></script>
    <script src="~/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>
    <script>renderCalendarForManagement("calendar", "@Model.Group.GroupId", "@Model.Group.Name");</script>
}