﻿@model PPZ.Areas.Teachers.Models.ManageStudentsModel

@{
    ViewData["Title"] = "Manage Group's Students";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm">
        <table class="table table-striped table-responsive-lg">
            <thead class="thead-light">
                <tr>
                    <th colspan="3" style="text-align: center;">Assigned with group</th>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AssignedStudents[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssignedStudents[0].LastName)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AssignedStudents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            <form asp-action="ManageStudents">
                                <input type="hidden" asp-for="@Model.Assign" value="false" />
                                <input type="hidden" asp-for="@Model.Group.GroupId" />
                                <input type="hidden" asp-for="@Model.Student.StudentId" value="@item.StudentId" />
                                <input type="submit" value="Unassign" class="btn btn-danger btn-sm" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm">
        <table class="table table-striped table-responsive-lg">
            <thead class="thead-light">
                <tr>
                    <th colspan="3" style="text-align: center;">Unassigned</th>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UnassignedStudents[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnassignedStudents[0].LastName)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UnassignedStudents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            <form asp-action="ManageStudents">
                                <input type="hidden" asp-for="@Model.Assign" value="true" />
                                <input type="hidden" asp-for="@Model.Group.GroupId" />
                                <input type="hidden" asp-for="@Model.Student.StudentId" value="@item.StudentId" />
                                <input type="submit" value="Assign" class="btn btn-success btn-sm" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-area="Admin" onclick="history.back(); return false;" class="btn btn-primary">Back to Details</a>
</div>