﻿@model PPZ.Areas.Guardians.Models.GroupModel

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>
<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Info)
        </dd>
    </dl>
    <h4>Group's teachers</h4>
    <hr />
    <table class="table table-striped table-responsive-lg">
    @foreach (var item in Model.GroupTeachers)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Prefix)
            </td>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                <a asp-controller="Teachers" asp-action="Details" asp-route-id="@item.TeacherId" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
    }
    </table>
    <h4>Group's students</h4>
    <hr />
    <table class="table table-striped table-responsive-lg">
    @foreach (var item in Model.GroupStudents)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
        </tr>
    }
    </table>
    <h4>Group's terms</h4>
    <hr />
    <div class="group-calendar-body">
        <div id="calendar-sm"></div>
    </div>
</div><br />
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section stylesheets {
    <link href="~/lib/fullcalendar/core/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/daygrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/lib/fullcalendar/core/main.js"></script>
    <script src="~/lib/fullcalendar/core/locales-all.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.js"></script>
    <script src="~/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>
    <script>renderCalendarNoEdit("calendar-sm", "@Model.Group.GroupId", "@Model.Group.Name");</script>
}