﻿@model IEnumerable<PPZ.Data.Group>

@{
    ViewData["Title"] = "Groups list";
}

<h1>Groups list</h1>

<table class="table table-striped table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.GroupId" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
