﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #3498DB;
}

a:hover {
  color: #2384c6;
}

.dropdown-item:active {
  background-color: #217dbb;
}

.btn-primary {
  color: #fff;
  background-color: #3498DB;
  border-color: #3498DB;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2384c6;
  border-color: #217dbb;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #2384c6;
  border-color: #217dbb;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 167, 224, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 167, 224, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #3498DB;
  border-color: #3498DB;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #217dbb;
  border-color: #1f76b0;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 167, 224, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 167, 224, 0.5);
}

.bg-primary {
  background-color: #375a7f !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #28415b !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 50px; /* Vertically center the text there */
}

/* Lighter hr
-------------------------------------------------- */
hr {
    background-color: whitesmoke;
}

/* Home/Index
-------------------------------------------------- */
.message {
    text-align: left;
    word-break: break-all;
    white-space: normal;
}

/* Shared/_LoginPartial
-------------------------------------------------- */
@media screen and (min-width: 600px){
    .li-2items {
        margin: auto;
    }
}

.avatar-nav {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .avatar-nav {
        margin-bottom: 10px;
    }
}

.avatar-nav:hover {
    cursor: pointer;
}

/* Avatar/AvatarChange
-------------------------------------------------- */

.avatar-label {
    font-size: 20px;
}

.avatar-p {
    opacity: 0.7;
}

.avatar {
    width: 500px;
    height: 500px;
}

.avatar-input {
    margin: auto;
    max-width: 500px;
}

/* Admin/Views/Students/ImportCsv
-------------------------------------------------- */

.csv-input {
    max-width: 500px;
}

/* Views/Home/Calendar.cshtml
-------------------------------------------------- */
#calendar-body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

/* Views/Home/Calendar.cshtml
-------------------------------------------------- */
#calendar {
    max-width: 800px;
    margin: auto;
}

/*Areas/Admin/Views/Groups/Details.cshtml
-------------------------------------------------- */
#calendar-sm {
    max-width: 700px;
}

/* Areas/Admin/Views/Groups/Details.cshtml
-------------------------------------------------- */
.group-calendar-body {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}