﻿@using PPZ.Data
@model List<Group>

@{ ViewData["Title"] = "Calendar"; }

<h1 class="text-center">Calendar</h1>
<div id="calendar-body">
    <div id="calendar"></div>
</div>

@section stylesheets {
    <link href="~/lib/fullcalendar/core/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/daygrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/lib/fullcalendar/core/main.js"></script>
    <script src="~/lib/fullcalendar/core/locales-all.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.js"></script>
    <script src="~/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>
    <script>renderCalendarForUser(@Html.Raw(Json.Serialize(Model)), "calendar")</script>
}