﻿@model PPZ.Data.Post
@{
    ViewData["Title"] = "Create Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="CreatePost">
        <h2>Write your post</h2>
        <textarea asp-for="Message" class="form-control"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
        <div>
            <button type="submit" style="margin-top: 8px" class="btn btn-primary">Publish</button>
        </div>     
</form>
