﻿@using Microsoft.AspNetCore.Identity
@using PPZ.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model List<Post>

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1>News Feed</h1>
        <a asp-action="CreatePost" class="btn btn-success">Create post</a>
        <hr />
        <div>
            @for (int i = @Model.Count - 1; i >= 0; i--)
            {
                <p class="message">
                    <span>@Model[i].ApplicationUser.UserName</span>
                    <span>@Model[i].DateTime</span>
                </p>
                <p class="message" style="font-weight: bold">@Model[i].Message</p>
                @if (ViewBag.user == @Model[i].ApplicationUser || ViewBag.user.UserName == "admin@myam.com" )
                {
                    <div style="text-align: left">
                        <a asp-action="Delete" asp-route-id="@Model[i].PostId" class="btn btn-danger" >Delete</a>
                    </div>
                }
                <hr />
            }
        </div>
    </div>
}
else
{
<div class="text-center">
    <h2 class="display-4">Welcome to</h2>
    <img class="img-fluid" src="~/images/logo-white.png" asp-append-version="true">
    <div>
        <h5><a class="font-weight-bold" asp-area="Identity" asp-page="/Account/Login">Login</a>  or
        <a class="font-weight-bold" asp-area="Identity" asp-page="/Account/Register">register</a></h5>
    </div>
</div>
}

