﻿@model PPZ.Areas.Admin.Models.AttendanceModel

@{ ViewData["Title"] = "Group's term"; }

<h1>@ViewData["Title"]</h1>

<h4>Details</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GroupName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GroupName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GroupTerm.DateStart)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GroupTerm.DateStart)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GroupTerm.DateEnd)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GroupTerm.DateEnd)
    </dd>
</dl>

<h4>Attendance list</h4>
<hr />
<table class="table table-striped table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentsAttendances[0].Item1.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsAttendances[0].Item1.LastName)
            </th>
            <th>State</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentsAttendances)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Item1.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Item1.LastName)
            </td>
            <td>
                @if (item.Item2 == 0)
                {
                    <p class="text-danger">Absent</p>
                }
                else if (item.Item2 == 1)
                {
                    <p class="text-warning">Late</p>
                }
                else
                {
                    <p class="text-success">Present</p>
                }
            </td>
            <td>
                @if (item.Item2 == 2)
                {
                    <a class="btn btn-success btn-sm disabled">Present</a>
                }
                else
                {
                    <form class="d-inline" asp-action="Attendance">
                        <input type="hidden" asp-for="@Model.GroupTerm.GroupTermId" />
                        <input type="hidden" asp-for="@Model.SelectedStudentId" value="@item.Item1.StudentId" />
                        <input type="hidden" asp-for="@Model.ToState" value="2" />
                        <input type="submit" value="Present" class="btn btn-success btn-sm" />
                    </form>
                }|
                @if (item.Item2 == 1)
                {
                    <a class="btn btn-warning btn-sm disabled">Late</a>
                }
                else
                {
                    <form class="d-inline" asp-action="Attendance">
                        <input type="hidden" asp-for="@Model.GroupTerm.GroupTermId" />
                        <input type="hidden" asp-for="@Model.SelectedStudentId" value="@item.Item1.StudentId" />
                        <input type="hidden" asp-for="@Model.ToState" value="1" />
                        <input type="submit" value="Late" class="btn btn-warning btn-sm" />
                    </form>
                }|
                @if (item.Item2 == 0)
                {
                    <a class="btn btn-danger btn-sm disabled">Absent</a>
                }
                else
                {
                    <form class="d-inline" asp-action="Attendance">
                        <input type="hidden" asp-for="@Model.GroupTerm.GroupTermId" />
                        <input type="hidden" asp-for="@Model.SelectedStudentId" value="@item.Item1.StudentId" />
                        <input type="hidden" asp-for="@Model.ToState" value="0" />
                        <input type="submit" value="Absent" class="btn btn-danger btn-sm" />
                    </form>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-area="Admin" onclick="history.back(); return false;" class="btn btn-primary">Back to group's details</a>
</div>