﻿@model PPZ.Areas.Admin.Models.RFIDMapModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RFID Key Map</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rfidMap.KeyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rfidMap.KeyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rfidMap.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rfidMap.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="rfidMap.RFIDMapId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.rfidMap.RFIDMapId" class="btn btn-primary">Cancel</a>
    </form>
</div>
