﻿@model PPZ.Areas.Admin.Models.RFIDMapModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RFID Key Map</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="rfidMap.RFIDMapId" />
            <div class="form-group">
                <label asp-for="rfidMap.KeyId" class="control-label"></label>
                <input asp-for="rfidMap.KeyId" class="form-control" />
                <span asp-validation-for="rfidMap.KeyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rfidMap.StudentId" class="control-label"></label>
                <select asp-for="rfidMap.StudentId" class="form-control">
                @foreach (var student in Model.StudentList)
                {
                    <option value="@student.StudentId">@(student.FirstName + ' ' + student.LastName)</option>
                }
                </select>
                <span asp-validation-for="rfidMap.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" /> |
                <a asp-area="Admin" onclick="history.back(); return false;" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

