﻿@model IEnumerable<PPZ.Areas.Admin.Models.RFIDMapModel>

@{
    ViewData["Title"] = "RFID Key Map list";
}

<h1>RFID Key Map list</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
    <a asp-action="ImportCsv" class="btn btn-warning">Import from .csv file</a>
</p>
<table class="table table-striped table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rfidMap.KeyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rfidMap.KeyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.rfidMap.RFIDMapId" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
