﻿@model PPZ.Areas.Admin.Models.TeacherModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher&emsp;<a asp-action="Edit" asp-route-id="@Model.Teacher.TeacherId" class="btn btn-info btn-sm">Edit</a></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Info)
        </dd>
    </dl>
    <h4>Teacher's groups</h4>
    <hr />
    <table class="table table-striped table-responsive-lg">
    @foreach (var item in Model.Groups)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.GroupId" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
    }
    </table>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.Teacher.TeacherId" class="btn btn-danger">Delete</a> |
    <a asp-area="Admin" onclick="history.back(); return false;" class="btn btn-primary">Back to List</a>
</div>
