﻿@model PPZ.Data.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        @if (Model.EmailConfirmed)
        {
            <dd class="col-sm-10">Yes</dd>
        }
        else
        {
            <dd class="col-sm-10">No</dd>
        }
    </dl>
</div>
<div>    
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
