﻿@model IEnumerable<PPZ.Areas.Admin.Models.AccountModel>

@{
    ViewData["Title"] = "Accounts list";
}

<h1>Accounts list</h1>

<table class="table table-striped table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </th>
            <th colspan="3" style="text-align: center;">
                Connected with
            </th>
            <th></th>
        </tr>
        <tr>
            <th></th>            
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuardianName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @if (item.ApplicationUser.StudentId == null)
                {
                    @Html.DisplayFor(modelItem  => item.StudentName)
                }
                else
                {
                <a asp-area="Admin" asp-controller="Students" asp-action="Details" 
                   asp-route-id="@item.ApplicationUser.StudentId">@Html.DisplayFor(modelItem => item.StudentName)</a>
                }
            </td>
            <td>
                @if (item.ApplicationUser.GuardianId == null)
                {
                    @Html.DisplayFor(modelItem => item.GuardianName)
                }
                else
                {
                    <a asp-area="Admin" asp-controller="Guardians" asp-action="Details"
                       asp-route-id="@item.ApplicationUser.GuardianId">@Html.DisplayFor(modelItem => item.GuardianName)</a>
                }
            </td>
            <td>
                @if (item.ApplicationUser.TeacherId == null)
                {
                    @Html.DisplayFor(modelItem => item.TeacherName)
                }
                else
                {
                    if (item.IsTeacherApproved)
                    {
                        <a asp-area="Admin" asp-controller="Teachers" asp-action="Details"
                           asp-route-id="@item.ApplicationUser.TeacherId">@Html.DisplayFor(modelItem => item.TeacherName)</a>
                    }
                    else
                    {
                        <a asp-area="Admin" asp-controller="Teachers" asp-action="Approval"
                           asp-route-id="@item.ApplicationUser.TeacherId">@Html.DisplayFor(modelItem => item.TeacherName)</a>
                    }
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ApplicationUser.Id" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>