﻿@model PPZ.Areas.Students.Models.StudentModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        @if (!Model.Student.IsActive)
        {
            <dt class="col-sm-2">
                Inactive student
            </dt>
            <dd class="col-sm-10">
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.SecondName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.SecondName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.IsActive)
        </dt>
        @if (Model.Student.IsActive)
        {
            <dd class="col-sm-10">Active</dd>
        }
        else
        {
            <dd class="col-sm-10">Inactive</dd>
        }
    </dl>
    <h4>Student's groups</h4>
    <hr />
    <table class="table table-striped table-responsive-lg">
    @foreach (var item in Model.Groups)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.GroupId" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
    }
    </table>
    <h4>Student's guardians</h4>
    <hr />
    <table class="table table-striped table-responsive-lg">
    @foreach (var item in Model.Guardians)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-controller="Guardians" asp-action="Details" asp-route-id="@item.GuardianId" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
    } 
    </table>   
    <h4>Access keys for accounts</h4>
    <hr />
</div>
<div>
    <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-primary">Back to home</a>
</div>
