﻿@model PPZ.Areas.Teachers.Models.RFIDMapModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RFID Key Map</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="rfidMap.KeyId" class="control-label"></label>
                <input asp-for="rfidMap.KeyId" class="form-control" />
                <span asp-validation-for="rfidMap.KeyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rfidMap.StudentId" class="control-label"></label>
                <select asp-for="rfidMap.StudentId" class="form-control">
                @foreach (var student in Model.StudentList)
                {
                    <option value="@student.StudentId">@(student.FirstName + ' ' + student.LastName)</option>
                }
                </select>
                <span asp-validation-for="rfidMap.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>
