﻿@model PPZ.Areas.Teachers.Models.RFIDMapModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RFID Key Map&emsp;<a asp-action="Edit" asp-route-id="@Model.rfidMap.RFIDMapId" class="btn btn-info btn-sm">Edit</a></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rfidMap.KeyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rfidMap.KeyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rfidMap.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rfidMap.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.rfidMap.RFIDMapId" class="btn btn-danger">Delete</a> |
    <a asp-area="Teacher" onclick="history.back(); return false;" class="btn btn-primary">Back to List</a>
</div>
