﻿@model PPZ.Areas.Admin.Models.CsvModel
@{
    ViewData["Title"] = "Import .csv";
}

<h1>Import</h1>
<h4>Guardians</h4>
<div class="csv-input">
    <form enctype="multipart/form-data" method="post">
        <div class="form-group">
            <div class="custom-file">
                <input asp-for="FormFile" class="form-control custom-file-input" />
                <span asp-validation-for="FormFile" class="text-danger"></span>
                <label class="custom-file-label">Choose .csv file...</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        let input = document.querySelector(".custom-file-input");
        input.addEventListener("change", function() {
            let filename = input.value.split("\\").pop();
            let label = document.querySelector(".custom-file-label");
            label.innerHTML = filename;
        });
    </script>
}