﻿@model IEnumerable<PPZ.Data.Student>

@{
    ViewData["Title"] = "Students list";
}

<h1>Students list</h1>

<table class="table table-striped table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            @if (item.IsActive)
            {
                <td>
                    Active
                </td>
            }
            else
            {
                <td>
                    Inactive
                </td>
            }
            <td>
                <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
