﻿@model IEnumerable<PPZ.Models.MessagesModel>

@{ 
    ViewData["title"] = "Messages";
}

<h1>Messages</h1>

<p>
    <a asp-area="" asp-controller="Messages" asp-action="NewMessage" class="btn btn-success">New Message</a>
</p>

<table class="table table-striped table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Message</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortContent)
                </td>
                <td>
                    <a asp-action="Conversation" asp-route-id="@item.UserId" class="btn btn-primary btn-sm">Conversation</a>
                </td>
            </tr>
        }
    </tbody>
</table>
