﻿@model PPZ.Models.NewMessageModel

@{
    ViewData["title"] = "New Message";
}

<h1>New Message</h1>

<h4>To&emsp;<button data-toggle="modal" data-target="#modal" class="btn btn-info btn-sm">Show contacts</button></h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <span class="form-control border border-dark bg-dark text-white"></span>
        </div>
    </div>
</div>

<h4>Message</h4>
<hr />
<form asp-action="NewMessage">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Contacts</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @if (Model.Admin != null)
                    {
                        <div class="form-group" style="margin-left: 35px;">
                            <input class="form-check-input" type="checkbox" asp-for="Admin.Send" />
                            <label class="form-check-label">Admin</label>
                        </div>
                    }
                    <hr />
                    @foreach (var group in Model.Contacts)
                    {
                        <p>@group.Group.Name teachers:</p>
                        @foreach (var item in group.Teachers)
                        {
                            <div class="form-group" style="margin-left: 35px;">
                                <input type="hidden" asp-for="@item.AccountId" />
                                <input class="form-check-input" type="checkbox" asp-for="@item.Send" />
                                <label class="form-check-label">@item.Teacher.FullName</label>
                            </div>
                        }
                        <div class="row">
                            <div class="col">
                                <p>@group.Group.Name students:</p>
                            </div>
                            <div class="col">
                                <p>@group.Group.Name guardians:</p>
                            </div>
                        </div>
                        @foreach (var item in group.StudentsAndGuardians)
                        {
                            <div class="row">
                                <div class="col">
                                    <div class="form-group" style="margin-left: 35px;">
                                        <input type="hidden" asp-for="@item.StudentAccountId" />
                                        <input class="form-check-input" type="checkbox" asp-for="@item.StudentSend" />
                                        <label class="form-check-label">@item.Student.FullName</label>
                                    </div>
                                </div>
                                <div class="col">
                                    @if (item.Guardian != null)
                                    {
                                        <div class="form-group" style="margin-left: 35px;">
                                            <input type="hidden" asp-for="@item.GuardianAccountId" />
                                            <input class="form-check-input" type="checkbox" asp-for="@item.GuardianSend" />
                                            <label class="form-check-label">@item.Guardian.FullName</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <hr />
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>